.social-media-row {
  background: #11416D;
  border-radius: 4px;
  color: darken(white, 10%);
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  width: 100%;

  &:hover {
    color: white;
    text-decoration: none;
  }

}
